<div class="wrapper">
  <header>
    <h1>Oliver Lang</h1>
    <p></p>
    <p style="color:#6f777d"><b>Doctoral candidate, University of Wisconsin-Madison</b></p>

    <p></p>

    <p>My research sits at the intersection of comparative politics, political communication, and political economy. </p>
    <p></p>
    
    <p>I study the conditions under which media markets under authoritarian rule provide citizens with critical and accurate coverage of political events and incumbent leaders. In my dissertation research, I explain how regime institutions shape the production of televesion news across fifty-seven autocratic regimes.   </p>
    <hr width="70%">

    <p><a href="/cv/lang_cv.pdf">Curriculum Vitae</a></p>
    <p><a href="https://polisci.wisc.edu/staff/lang-oliver/">Department Website</a><p>


    <div class="is-container-row is-center">
      <div class="is-inset-8"><a href="https://github.com/olivermlang" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div>
      <!--
      <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=V9l8POIAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div>
      <div class="is-inset-8"><a href="http://www.twitter.com/shirokuriwaki/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div>
      -->
    </div>

    <br>
    <p>
      omlang@wisc.edu<br>
      110 North Hall<br>
      1050 Bascom Mall
      University of Wisconsin-Madison
      Madison, WI 53706
    </p>
  </header>
</div>
